<div class="text-center">
  <a href="/products" class="btn btn-primary">Volver</a>
</div>
<div class="text-center">
  {{#if prods.length}}
    {{#each prods}}
      <div class="mx-auto" style="width: 25rem;">
        {{#each this}}
          {{#if this.title}}
            <lu class="card list-unstyled m-2">
              <li><strong>Título:</strong> {{this.title}}</li>
              <li><strong>Descripción:</strong> {{this.description}}</li>
              <li><strong>Precio:</strong> {{this.price}}</li>
              <li><strong>Codigo:</strong> {{this.code}}</li>
              <li><strong>Estado:</strong> {{this.status}}</li>
              <li><strong>Stock:</strong> {{this.stock}}</li>
              <li><strong>Categoría:</strong> {{this.category}}</li>
              <li><strong>Miniatura:</strong> {{this.thumbnails}}</li>
            </lu>
          {{/if}}
        {{/each}}
      </div>
    {{/each}}
  {{else}}
    <p>No hay Productos en el carrito</p>
  {{/if}}
</div>