<div class="text-center d-flex justify-content-around m-5">
  <a href="/products" class="btn btn-primary">Volver</a>
  <a href="/vaciarChango/{{cid}}" class="btn btn-danger">Vaciar chango</a>
  <a href="/ticket/{{cid}}" class="btn btn-success">Finalizar Compra</a>
</div>
<div class="text-center">
  {{#if prods.length}}
    {{#each prods}}
      <div class="mx-auto" style="width: 30rem;">

        <lu class="card list-unstyled m-2">
          <span
            class="position-absolute top-0 start-0 bg-success text-bg-success m-2 px-2 border border-light rounded-4"
          >{{this.quantity}}</span>

          <a
            class="bg-danger text-bg-danger m-2 px-2 border border-light rounded-4 position-absolute top-0 end-0 text-decoration-none"
            href="/removeProd?pid={{this._id}}&cid={{@root.cid}}"
          >x</a>

          <li><strong>Título:</strong> {{this.title}}</li>
          <li class="px-5"><strong>Descripción:</strong>
            {{this.description}}</li>
          <li><strong>Precio:</strong> {{this.price}}</li>
          <li><strong>Codigo:</strong> {{this.code}}</li>
          <li><strong>Estado:</strong> {{this.status}}</li>
          <li><strong>Stock:</strong> {{this.stock}}</li>
          <li><strong>Categoría:</strong> {{this.category}}</li>
          <li><strong>Miniatura:</strong> {{this.thumbnails}}</li>

        </lu>
      </div>
    {{/each}}
  {{else}}
    <p>No hay Productos en el carrito</p>
  {{/if}}
</div>