<h2 class="text-center">Lista de productos</h2>

<div class="mx-auto w-50">
  {{#if products.length}}
    {{#each products}}
      <ul id="listado" class="list-group list-unstyled m-4 card">
        <div class="m-2">
          <li><strong>title: </strong>{{this.title}}</li>
          <li><strong>description: </strong>{{description}}</li>
          <li><strong>code: </strong>{{code}}</li>
          <li><strong>price: </strong>{{price}}</li>
          <li><strong>status: </strong>{{status}}</li>
          <li><strong>stock: </strong>{{stock}}</li>
          <li><strong>category: </strong>{{category}}</li>
          <li><strong>thumbnails: </strong>{{thumbnails}}</li>
        </div>
      </ul>
    {{/each}}
  {{else}}
    <p>No hay usuarios</p>
  {{/if}}
</div>